<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Hoş Geldiniz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 5rem;
        }

        .header {
            border-bottom: 4px solid #a3d2ca;
            margin-bottom: 20px;
            
        }

        .welcome {
            text-align: center;
            justify-content: center;
            align-items: center;
/*             margin-bottom: 20px;
 */        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header">
            <h1 class="welcome">Hoş Geldiniz</h1>
        </div>
        <div id="content" class="row">
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
